{% extends 'layouts/base_login_register.html' %} 

{% block title %}Iniciar Sesión{% endblock title %} 

{% block content %}
<main class="bg-red-50">
  <div class="min-h-screen flex flex-col">
    <div class="w-screen py-32 flex justify-center">
      <h2 class="font-bold text-3xl">Ingresa tu cuenta</h2>
    </div>
    <div class="p-10">
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <div class="flex flex-col p-12 items-center">
          <div class="mb-6 w-1/2 flex justify-center">
            {{ form.username }}
          </div>
          <div class="w-1/2 flex justify-center">
            {{ form.password }}
          </div>
        </div>
        <div class="flex justify-center p-3 mb-3">
            {% if form.errors %}
              <p class="text-red-500">¡Oops! Hubo un problema:</p>
              <ul>
                  {% for field, error_list in form.errors.items %}
                      {% for error in error_list %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  {% endfor %}
              </ul>
            {% endif %}
        </div>
        <div class="flex justify-center">
          <button class="bg-red-400 hover:bg-red-500 text-white font-semibold py-3 px-14 shadow-lg shadow-gray-400" type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock content %}