{% extends 'layouts/base_login_register.html' %}

{% block title %}Iniciar Sesión{% endblock title %}


{% block content %}
    <div class="">
        <div class="h-20 m-20">
            <h2 class="">Ingresa tu cuenta</h2>
        </div>
        <div>
            <form action="{% url 'accounts:login' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="">Iniciar Sesión</button>
            </form> 
        </div>
    </div>
    
{% endblock content %}