{% extends 'layouts/base_login_register.html' %} 

{% block title %}Iniciar Sesión{% endblock title %} 

{% block content %}
  <div class="min-h-screen flex flex-col items-center justify-center">
    <div class="">
      <h2 class="">Ingresa tu cuenta</h2>
    </div>
    <div>
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <div>
          <label for="id_username">Usuario</label>
          {{ form.username }}
        </div>
        <div>
          <label for="id_password">Contrasena</label>
          {{ form.password }}
        </div>
        <button type="submit" class="">Iniciar Sesión</button>
      </form>
    </div>
  </div>
{% endblock content %}