{% extends 'layouts/base_login_register.html' %}

{% block title %}Registrarse{% endblock title %}

{% block content %}
    <main>
        <div class="min-h-screen flex flex-col justify-center">
            <div class="w-screen flex justify-center">
                <h2 class="font-bold text-3xl">Crea tu cuenta</h2>
            </div>
            <div class="p-10">
                <form action="{% url 'accounts:register' %}" method="POST">
                    {% csrf_token %}
                    <div class="flex flex-col p-7 items-center">
                        <div class="mb-6 flex justify-center">
                            {{ form.username }}
                        </div>
                        <div class="mb-6 w-1/2 flex justify-center">
                            {{ form.first_name }} 
                        </div>
                        <div class="mb-6 w-1/2 flex justify-center">
                            {{ form.last_name }}
                        </div>
                        <div class="mb-6 w-1/2 flex justify-center">
                            {{ form.email }}
                        </div>
                        <div class="mb-6 w-1/2 flex justify-center">
                            {{ form.password1 }}
                        </div>
                        <div class="mb-6 w-1/2 flex justify-center">
                            {{ form.password2 }}
                        </div>
                    </div>
                    <div class="flex justify-center p-3 mb-3">
                        {% if form.errors %}
                          <p class="text-red-500">¡Oops! Hubo un problema:</p>
                          <ul>
                              {% for field, error_list in form.errors.items %}
                                  {% for error in error_list %}
                                      <li>{{ error }}</li>
                                  {% endfor %}
                              {% endfor %}
                          </ul>
                        {% endif %}
                    </div>
                    <div class="flex justify-center">
                        <button class="text-white bg-blue-600 rounded-lg hover:bg-blue-700 font-semibold py-3 px-14 shadow-lg shadow-gray-400" type="submit">Crear cuenta</button>
                    </div>
                </form> 
            </div>
        </div>
    </main>
{% endblock content %}
