{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}{% endblock styles %}
    {% tailwind_css %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/foto_blog.png' %}">

    <title>{% block title %}{% endblock title %}</title>
    <script src="https://kit.fontawesome.com/6e08380902.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-50">
    {% include 'layouts/partials/navbar.html' %}
    
    <main class="max-w-7xl mx-auto px-4 pt-24 pb-12 flex flex-col lg:flex-row gap-8 min-h-[79.1vh]">
        {% block content %}{% endblock content %}
    </main>

    {% include 'layouts/partials/footer.html' %}
    <script src="{% static 'blog/js/menu.js' %}"></script>
</body>
</html>