{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    {% block styles %}{% endblock styles %}
    {% tailwind_css %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-red-50 flex flex-col">
    {% include 'layouts/partials/menu.html' %}
    
    <main class="flex px-10 items-center">
        <aside class="h-[80.5vh] w-[25%] flex flex-col py-3 bg-[#8181811A] shadow-lg">
            <div class="h-[50%] flex justify-center items-center">
                <img src="{% static '/blog/img/perfil.jpg' %}" alt="foto de perfil" width="220px" class="rounded-full">
            </div>
            <div class="h-[50%] flex flex-col px-4">
                <div class="py-5">
                    <a id="btn-personal-data" href="{% url 'blog:profile' user.id %}" onclick="changeButtonColor('btn-personal-data')"><p class="font-semibold text-3xl py-3">Datos personales</p></a>
                    <hr id="hr-personal-data" class="border-black">
                </div>
                <div class="py-5">
                    <a id="btn-personal-posts" href="{% url 'blog:profile_posts' %}" onclick="changeButtonColor('btn-personal-posts')"><p class="font-semibold text-3xl py-3">Publicaciones</p></a>
                    <hr id="hr-personal-posts" class="border-black">
                </div>
            </div>
        </aside>
    {% block content %}{% endblock content %}
    </main>
    {% include 'layouts/partials/footer.html' %}
    <script src="{% static 'blog/js/menu.js' %}"></script>
    <script src="{% static 'blog/js/buttonColor.js' %}"></script>
</body>
</html>