{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
    {% block styles %}{% endblock styles %}
    {% tailwind_css %}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/foto_blog.png' %}">
</head>
<body class="bg-gray-50">
    {% block content %}{% endblock content %}
</body>
</html>