{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}{% endblock styles %}
    {% tailwind_css %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-red-50 flex flex-col">
    {% include 'layouts/partials/menu.html' %}
    
    <main class="flex px-10 items-center">
        <aside class="h-[80vh] w-[25%] flex flex-col py-3 bg-red-100 shadow-lg">
            <div class="h-[50%] flex justify-center items-center">
                <img src="{% static '/blog/img/perfil.jpg' %}" alt="foto de perfil" width="220px" class="rounded-full">
            </div>
            <div class="h-[50%] flex flex-col px-4">
                <a href="" class="py-5">
                    <p class="text-red-400 font-semibold text-3xl py-3">Datos personales</p>
                    <hr class="border-red-400">
                </a><a href="" class="py-5">
                    <p class="font-semibold text-3xl py-3">Post</p>
                    <hr class="border-black">
                </a>
            </div>
        </aside>
        {% block content %}{% endblock content %}
    </main>

    {% include 'layouts/partials/footer.html' %}
</body>
</html>