<aside class="lg:w-1/4">
    <div class="bg-white rounded-xl shadow-md p-6">
        <h2 class="text-2xl font-bold text-gray-800 mb-6">Más Vistos</h2>
        <div class="space-y-6">
            {% for more_view in more_views %}
                <a href="{% url 'blog:detail' more_view.id %}">
                    <div class="flex items-center space-x-4 mb-8">
                        <img src="{{ more_view.image.url }}" alt="Popular Post" class="w-20 h-20 rounded-lg object-cover">
                        <div class="space-y-2 flex flex-col">
                            <h3 class="font-semibold text-gray-800">{{ more_view.title|truncatechars:27 }}</h3>
                            <div class="flex space-x-2 items-center">
                                <div class="flex px-1 text-sm text-gray-600">
                                    <span>Vistas: {{ more_view.get_view_count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</aside>