<nav class="p-3 mb-8 flex items-center bg-slate-50 shadow-lg shadow-gray-300">
    <div class="flex space-x-11 w-1/2">
        <h2 class="text-red-400 font-bold text-4xl mx-6">Blog</h2>
        <div class="flex">
            <label for="" class="bg-red-400 text-slate-50 py-2 px-3 rounded-l-lg cursor-pointer">Buscar</label>
            <input type="text" class="border-red-400 rounded-r-lg h-10">
        </div>
    </div>
    <div class="w-1/2 flex justify-end">
        <div class="mr-8 flex space-x-6">
            {% if not user.is_authenticated %}
                <p class="text-red-400"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></p>
                <p><a href="{% url 'accounts:register' %}">Registrarse</a></p>
            {% endif %}
        </div>
        <div class="mr-8 flex space-x-6">
            {% if user.is_authenticated %}
                <p><span class="text-red-400 mr-1">Bienvenido/a</span> {{ user.username | capfirst }}</p>
                <form action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Cerrar Sesión" class="cursor-pointer">
                </form>
            {% endif %}
        </div>
    </div>
</nav>