{% load static %}
<nav class="p-3 flex items-center bg-slate-50 shadow-lg shadow-gray-300">
    <div class="flex space-x-11 w-1/2">
        <h2 class="text-red-400 font-bold text-4xl mx-6"><a href="{% url 'blog:home' %}">Blog</a></h2>
        <form class="flex" action="{% url 'blog:home' %}" method="GET">
            <button type="submit" class="bg-red-400 text-slate-50 py-2 px-3 rounded-l-lg cursor-pointer">Buscar</button>
            <input type="text" class="border-red-400 rounded-r-lg h-10" name="q">
        </form>
    </div>
    <div class="w-1/2 flex justify-end">
        <div class="mr-8 flex space-x-6">
            {% if not user.is_authenticated %}
                <p class="text-red-400"><a href="{% url 'accounts:login' %}">Iniciar sesión</a></p>
                <p><a href="{% url 'accounts:register' %}">Registrarse</a></p>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
            <div class="mr-8 flex w-[22%] justify-between items-center">
                <p><span class="text-red-400 mr-1">Bienvenido/a</span> {{ user.username | capfirst }}</p>
                
                <div class="relative ml-4 flex-shrink-0">
                    
                    <button type="button" id="user-menu-button" class="relative flex rounded-full focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2" aria-expanded="false" aria-haspopup="true">
                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </button>
                    
                    <div id="user-menu" class="hidden absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <a href="{% url 'blog:profile' %}" class="block px-4 py-2 text-sm hover:bg-red-400" role="menuitem" tabindex="-1">Tu perfil</a>
                        <form action="{% url 'accounts:logout' %}" method="POST" class="hover:bg-red-400">
                            {% csrf_token %}
                            <input type="submit" value="Cerrar Sesión" class="cursor-pointer block px-4 py-2 text-sm">
                        </form> 
                    </div>
                </div>
            </div>    
        {% endif %}
    </div>
</nav>