{% load static %}
<nav class="bg-white shadow-lg fixed w-full top-0 z-50">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between h-16">
            <div class="flex items-center">
               <a href="{%url 'blog:home' %}"><span class="ml-2 font-bold text-xl text-gray-800">CodeBlog</span></a>
            </div>

            <div class="hidden md:flex items-center space-x-4">
                <form class="relative" action="{% url 'blog:home' %}" method="GET">
                    <input name="q" type="text" placeholder="Buscar publicación..." class="w-64 px-4 py-2 rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <button type="submit"><i class="fas fa-search absolute right-3 top-3 text-gray-400"></i></button>
                </form>
                
                {% if  user.is_authenticated %}
                    <div class="flex text-gray-600">
                        <a href="{%url 'blog:profile' %}"><button class="px-4 py-2  hover:text-gray-800"><i class="fas fa-user mr-2"></i>Perfil</button></a>
                        <form action="{% url 'accounts:logout' %}" method="POST" class="hover:text-gray-800">
                            {% csrf_token %}
                            <input type="submit" value="Cerrar Sesión" class="cursor-pointer px-4 py-2">
                        </form> 
                    </div>      
                {% endif %}
                
                {% if not user.is_authenticated %}
                    <a href="{%url 'accounts:login' %}" class="px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700"><button >Iniciar Sesión</button></a>
                    <a href="{%url 'accounts:register' %}" class="px-4 py-2 text-blue-600 border border-blue-600 rounded-lg hover:bg-blue-50"><button>Registrarse</button></a>
                {% endif %}
            </div>

            <div class="md:hidden flex items-center">
                <button id="mobile-menu-button" class="text-gray-600 hover:text-gray-800">
                    <i class="fas fa-bars text-2xl"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="mobile-menu" class="hidden md:hidden bg-white pb-4 px-4">
        <div class="flex flex-col space-y-4">
            <input type="text" placeholder="Buscar publicación..." class="px-4 py-2 rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500">
            
            {% if  user.is_authenticated %}
                <div class="text-gray-600">
                    <a href="{%url 'blog:profile' %}"><button class="px-4 py-2 hover:text-gray-800"><i class="fas fa-user mr-2"></i>Perfil</button></a>
                    <form action="{% url 'accounts:logout' %}" method="POST" class="hover:text-gray-800">
                        {% csrf_token %}
                        <input type="submit" value="Cerrar Sesión" class="cursor-pointer px-4 py-2">
                    </form> 
                </div>
                
            {% endif %}

            {% if not user.is_authenticated %}
                <a href="{%url 'accounts:login' %}" class="px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700"><button >Iniciar Sesión</button></a>
                <a href="{%url 'accounts:register' %}" class="px-4 py-2 text-blue-600 border border-blue-600 rounded-lg hover:bg-blue-50"><button>Registrarse</button></a>
            {% endif %}
        </div>
    </div>
</nav>