{% extends 'layouts/base_profile.html' %} 

{% block title %}Borrado del Post{% endblock title %}
{% load static %}
{% block content %}
<section class="min-h-[84.8vh] px-10 py-8 flex flex-col justify-center items-center">
    <h2 class="text-3xl lg:text-4xl mb-4">Seguro deseas borrar el post "{{ post.title }}"?</h2>
    <div class="flex space-x-5 items-center">
        <a href="{% url 'blog:profile_posts' %}" class="text-xl">Cancelar</a>
        <form action="" method="POST">
            {% csrf_token %}
            <button tpye="submit" class="text-xl bg-red-600 hover:bg-red-700 text-white font-semibold py-3 px-14 shadow-lg shadow-gray-400 h-[6vh]">Borrar</button>
        </form>
    </div>
    
</section>
{% endblock content %}
