{% extends 'layouts/base.html' %}

{% block title %}Detalle del Post{% endblock title %}Blog

{% block content %}
    <main>
        <ul> 
            <li>{{ post.image }}</li>
            <li>{{ post.title }}</li>
            <li>{{ post.content }}</li>
            <li>Autor: {{ post.author }}</li>
            <li>Fecha de publicación: {{ post.created_date }}</li>      
        </ul>
        <div>
            <p><a href="{% url 'blog:home' %}">Volver atras</a></p>
        </div>
    </main>
{% endblock content %}