{% extends 'layouts/base.html' %}

{% block title %}Detalle del Post{% endblock title %}Blog

{% block content %}
    <main class="min-h-[84.7vh]">
        <ul> 
            <img src="{{ post.image.url }}" alt="imagen" width="350px" heigth="350px">
            <li>{{ post.title }}</li>
            <li>{{ post.content }}</li>
            <li>Autor: {{ post.author }}</li>
            <li>Fecha de publicación: {{ post.created_date|date:'d M Y' }}</li>      
        </ul>
        <div>
            <p><a href="{% url 'blog:home' %}">Volver atras</a></p>
        </div>
    </main>
{% endblock content %}