{% extends 'layouts/base.html' %}

{% block title %}Blog{% endblock title %}
{% load static %}
{% block content %}
    <main class="min-h-[84.8vh] flex">
        <section class="flex flex-col w-[75%] min-h-[84.8vh]">
            <div class="min-h-[76.1vh] py-8 px-10 flex flex-wrap">
                {% for post in posts  %}
                <div class="bg-white w-[300px] h-[420px] mb-8 mr-8 shadow-2xl">
                    <a href="{% url 'blog:detail' post.id %}">
                        <article class="h-[420px] flex flex-col items-center justify-between">
                            <div>
                                <img src="{{ post.image.url }}" width="250" alt="foto" class="py-4 h-[15em]">
                                <h3 class="text-3xl w-[85%]">{{ post.title }}</h3>
                            </div>
                            <div class="flex w-[85%] py-4">
                                <img src="{% static 'blog/img/perfil.jpg' %}" alt="foto" width="42">
                                <div class="px-4">
                                    <p>{{ post.author }}</p>
                                    <p>{{ post.created_date }}</p>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="min-h-[8.7vh] p-6 flex justify-center items-center">
                <span class="px-14 p-5 space-x-6">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="py-2 px-5 bg-red-400 text-slate-50 rounded-md">Anterior</a>
                    {% endif %}
                    
                    {% if page_obj.paginator.num_pages != 1 %}
                        <span>
                            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>
                    {% endif %}
                    
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="py-2 px-5 bg-red-400 text-slate-50 rounded-md">Siguiente</a>
                    {% endif %}
                </span>
            </div>
        </section>
        <aside class="w-[25%] justify-center items-start flex py-12">
            <section class="min-h-[20vh] w-80 border-8 border-red-400 flex flex-col items-center space-y-3 pb-2">
                <h3 class="text-3xl p-2 font-semibold">Más Vistos</h3>
                {% for more_view in more_views %}
                    <a href="{% url 'blog:detail' more_view.id %}">
                        <article class="bg-slate-50 min-w-72 min-h-20 flex shadow-lg">
                            <img src="{% static 'blog/img/img.jpg' %}" alt="" width="100" class="p-1">
                            <div>
                                <h4 class="w-full pt-1 pb-2">{{ more_view.title }}</h4>
                                <div class="flex space-x-3">
                                    <img src="{% static 'blog/img/perfil.jpg' %}" alt="" width="35" class="rounded-full">
                                    <div>
                                        <p>{{ more_view.author }}</p>
                                        <p>{{ more_view.created_date }}</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </a>
                {% endfor %}
            </section>
        </aside>
    </main>
{% endblock content %}
