{% extends 'layouts/base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}
    <main>
        <div class="login-register">
            {% if not user.is_authenticated %}
                <p><a href="{% url 'accounts:login' %}">Iniciar sesión</a></p>
                <p><a href="{% url 'accounts:register' %}">Registrarse</a></p>
            {% endif %}

            {% if user.is_authenticated %}
                <form action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Cerrar sesión">
                </form>
                <p><a href="{% url 'blog:create' %}">Crear post</a></p> 
            {% endif %}    
        </div>
        <ul>
            {% for post in posts  %}
                <li>{{ post.image }}</li>
                <li>{{ post.title }}</li>
                <li>{{ post.content }}</li>
                <li>Autor: {{ post.author }}</li>
                <li>Fecha de publicación: {{ post.created_date }}</li>
                <li>
                    <a href="{% url 'blog:detail' post.id %}">Ver</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'blog:update' post.id %}">Editar</a>
                        <a href="{% url 'blog:delete' post.id %}">Borrar</a>
                    {% endif %} 
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock content %}
