{% extends 'layouts/base.html' %}

{% block title %}Blog{% endblock title %}
{% load static %}
{% block content %}
    <main class="min-h-[84.8vh] flex">
        <section class="flex flex-col w-[75%] min-h-[84.8vh]">
            <div class="min-h-[76.1vh] py-8 px-10 flex flex-wrap">
                {% for post in posts  %}
                <div class="bg-white w-[300px] h-[420px] mb-8 mr-8 shadow-2xl">
                    <a href="{% url 'blog:detail' post.id %}">
                        <article class="h-[420px] flex flex-col items-center justify-between">
                            <div>
                                <img src="{{ post.image.url }}" width="250" alt="foto" class="py-4 h-[15em]">
                            </div>
                            <div class="flex w-[85%]">
                                <h3 class="text-3xl">{{ post.title }}</h3>
                            </div>
                            <div class="flex w-[85%] py-4">
                                <img src="{{ user.image.url }}" alt="foto" width="42">
                                <div class="px-3">
                                    <p>{{ post.author | title }}</p>
                                    <p>{{ post.created_date }}</p>
                                </div>
                                <div>
                                    <span>L {{ post.get_like_count }} |</span>
                                    <span>V {{ post.get_view_count }} |</span>
                                    <span>C {{ post.get_comment_count }}</span>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="min-h-[8.7vh] p-6 flex justify-center items-center">
                <span class="px-14 p-5 space-x-6">
                    {% if page_obj.has_previous %}
                        <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}" class="py-2 px-5 bg-red-400 text-slate-50 rounded-md">Anterior</a>
                    {% endif %}
                    
                    {% if page_obj.paginator.num_pages != 1 %}
                        <span>
                            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>
                    {% endif %}
                    
                    {% if page_obj.has_next %}
                        <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}" class="py-2 px-5 bg-red-400 text-slate-50 rounded-md">Siguiente</a>
                    {% endif %}
                </span>
            </div>
        </section>
        {% include 'layouts/partials/aside.html' %}
    </main>
{% endblock content %}
