{% extends 'layouts/base_profile.html' %}
{% block title %}Publicaciones {% endblock title %}
{% load static %}
{% block content %}
    <section class="h-[84.8vh] w-[75%] py-8 px-10 overflow-y-scroll">
        <a href="{% url 'blog:create' %}" class="bg-red-400 hover:bg-red-500 text-white font-semibold py-3 px-4 shadow-lg rounded-md">Crear publicación</a>
        <div class="grid grid-cols-2 gap-6 mt-5">
            {% for post in posts  %}
                <article class="bg-slate-50 flex shadow-lg h-28 justify-between">
                    <div class="flex">
                        <img src="{{ post.image.url }}" alt="" width="100" class="p-2">
                        <div class=" m-2">
                            <h4 class="w-full pt-1 pb-2">{{ post.title }}</h4>
                            <div class="flex space-x-3 mt-3">
                                <img src="{% static 'blog/img/perfil.jpg' %}" alt="" width="35" class="rounded-full">
                                <div>
                                    <p>{{ post.author }}</p>
                                    <p>{{ post.created_date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex flex-col m-2 justify-around">
                        <a href="{% url 'blog:detail' post.id %}" class="font-semibold">Ver</a>
                        <a href="{% url 'blog:update' post.id %}" class="text-[#169D00] font-semibold">Editar</a>
                        <a href="{% url 'blog:delete' post.id %}" class="text-[#ED0000] font-semibold">Eliminar</a>
                    </div> 
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock content %}