{% extends 'layouts/base_profile.html' %}

{% block title %}Actualizar Publicación{% endblock title %}

{% block content %}
    <section class="h-[84.8vh] py-5">
        <form action="{% url 'blog:update' post.id %}" method="POST" enctype="multipart/form-data" class="h-[100%]">
            {% csrf_token %}
            <div class="h-[90%] w-full flex flex-col justify-center items-center space-y-3">
                <div class="w-1/2">
                    {{ form.title.label }}:
                    {{ form.title }}
                </div>
                <div class="w-1/2 ">
                    {{ form.content.label }}:
                    {{ form.content }}
                </div>
                <div class="flex flex-col justify-center items-center w-1/2">
                    <div class="flex mb-4 items-center w-1/2 space-x-6">
                        <label for="">Actual:</label>
                        <img src="{{ post.image.url }}" alt="" width="200px">
                    </div>
                    <div class="w-1/2 flex space-x-2">
                        <label for="">Cambiar:</label>
                        {{ form.image }}
                    </div>
                    
                </div>
            </div>
            <div class="h-[10%] flex justify-center items-center mt-2">
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-14 shadow-lg shadow-gray-400 h-[6vh]" type="submit">Actualizar</button>
            </div>
        </form>
    </section>
{% endblock content %}