{% extends 'layouts/base_profile.html' %}

{% block title %}Actualizar Publicación{% endblock title %}
{% load static %}
{% block content %}
    <section class="py-5">
        <form action="{% url 'blog:update' post.id %}" method="POST" enctype="multipart/form-data" class="flex flex-col justify-center items-center space-y-3">
            {% csrf_token %}
            
            <div class="w-[90vw] md:w-[80vw] lg:w-1/2">
                {{ form.title.label }}:
                {{ form.title }}
            </div>

            <div class="w-[90vw] md:w-[80vw] lg:w-1/2">
                {{ form.content.label }}:
                {{ form.content }}
            </div>
            
            <div class="flex self-start lg:self-center w-[27.1em]">
                <label for="" class="mr-2">Actual:</label>
                <img src="{{ post.image.url }}" alt="" width="100px">
            </div>

            <div class="self-start lg:self-center">
                <label for="" class="mr-1">Cambiar:</label>
                {{ form.image }}
            </div>
            
            
           
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-14 shadow-lg shadow-gray-400 h-[6vh]" type="submit">Actualizar</button>
           
        </form>
    </section>
{% endblock content %}